
/*FONTS*/
@font-face{
	font-family: "main";
	src: url("D-DIN.otf");
}

/*===DESKTOP===*/

/*GENERAL ELEMENTS*/

html{
	font-family: 'main';
	background-color: #000000;
	color: #DDDDDD;
	
}

a{
	color: #DDDDDD;
}

a:hover{
	background-color: #222222;
}

input{
	font-family: 'main';
	background-color: #000000;
	color: #DDDDDD;
	border: none;
	border-bottom: 1px solid #DDDDDD;
	padding: 4px;
	font-size: 1em;
}

table{
	border: none;
	padding: 4px;
}

th{
	border-bottom: 1px solid #DDDDDD;
}


/*CLASSES*/
.wrapper{
	
	margin: auto;
	width: 420px;
}

.title{
	white-space: pre;
	margin-bottom: 0px;
	text-align: center;
}

.separator{
	text-align: center;
	white-space: nowrap;
	overflow-x: hidden;
	margin-top: 0px;
	margin-bottom: 0px;
	overflow-x: hidden;
}

.links{
	text-align: center;
	width: 100%;
	display: flex;
	flex-wrap: no-wrap;
	justify-content: space-evenly;
}

.links a{
	width: 100px;
	padding: 3px;
}

.greeting{
	white-space: pre;
	margin: 5px;
}

.code{
	white-space: nowrap;
	overflow: auto;
	background-color: #222222;
	font-family: monospace;
	padding: 5px;
	font-size: 0.9em;
	height: 2em;
}

.code::-webkit-scrollbar{
	display: none;
}

.msg{
	border-left: 1px #DDDDDD solid;
	padding-left: 3px;
}

.filename{
	max-width: 240px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}
.files{
	width: 100%;
}

/*===MOBILE===*/
@media only screen and (max-width: 1000px) {

	/*GENERAL ELEMENTS*/
	/*CLASSES*/
	.wrapper{
		width: 90%;
		font-size: 4vw;
	}
	
	.title{
		font-size: 2vw;
	}

}

