<!DOCTYPE html>
<html>
	<head>
		<meta name="description" content="unix file host">
		<title>unix.media</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='global.css') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		
		<!--meta tags for chrome and safari integration-->
		<meta name="theme-color" content="#000000">
		<link rel="apple-touch-icon" sizes="192x192" href="{{ url_for('static', filename='kelp-logo.png') }}">
		<link rel="apple-touch-startup-image" href="{{ url_for('static', filename='kelp-logo.png') }}">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="application-name" content="unix.media">
		<meta name="apple-mobile-web-app-title" content="unix.media">
		
		<link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
	</head>
	<body>
		<div class="wrapper">
			<pre class="title">    #                    #  #
# # ##      # #     ### ### ###      ##
# # # #  #   #      ### ##  # #  #  # #
### # #  ## # #     # # ### ###  ## ###

			</pre>
			<p class="separator">---------------------------------------------------------------------------------------------------------------------------</p>
			<div class="links">
				{%block links%}
				{%endblock%}
			</div>
			<p class="separator">---------------------------------------------------------------------------------------------------------------------------</p>
			{%block content%}
			
			{%endblock%}
		</div>
	</body>
	
	
</html>
