{% extends "base.html" %}
{% block links %}
			<a href="/">back</a>
			<a href="/upload">uploads</a>
			{% if session['username'] is defined %}
				<a href="/logout">logout</a>
			{% else %}
				<a href="/login">login</a>
			{% endif %}
{% endblock %}

{% block content %}
	
	{% if msg is defined %}
		<p class="msg">{{ msg }}</p>
	{% endif %}		
	{% if session['username'] is defined %}
		<p>Here are your files, {{session['username']}}.</p>
	
		{% if files is defined %}
			<table class="files">
				<thead>
					<th>filename</th>
					<th>filetype</th>
					<th></th>
				</thead>
				
					{% for file in files %}
						<tr>
							{% if file[4] is none %} 
								{#backwards compatibility#}
								<td class="filename"><a href="/{{file[3]}}.{{file[2]}}">{{file[3]}}</a></td>
							{% else %}
								<td class="filename"><a href="/{{file[3]}}.{{file[2]}}">{{file[4]}}</a></td>
							{% endif %}
							
							<td>{{file[2]}}</td>
							<td><a href="/delete/{{file[3]}}.{{file[2]}}">delete</a></td>
						</tr>
					{% endfor %}
			</table>
		{% else %}
			<p>you don't have any files.</p>
		{% endif %}
	
	{% else %}
		<p>not logged in.</p>
	{% endif %}
	
{% endblock %}

