{% extends "base.html" %}
{% block links %}
	<a href="/info">info</a>
	<a href="/upload">uploads</a>
	{% if session['username'] is defined %}
		<a href="/logout">logout</a>
	{% else %}
		<a href="/login">login</a>
	{% endif %}
{% endblock %}

{% block content %}
	{% if session['username'] is defined %}
		<p class="greeting">Welcome, {{session['username']}}.       <a href="/files">your files</a></p>
		<p class="separator">---------------------------------------------------------------------------------------------------------------------------</p>
	{% endif %}
	<p>Welcome to unix.media. This is a private file hosting website. While not open to 
	registration, I may consider allowing new users on a per-case basis in the future.
</p>
	<p> email: <a href="mailto:unixmedia@protonmail.ch?subject=unix.media registration">unixmedia@protonmail.ch</a></p>
	<p>source code: <a href="https://github.com/nojusr/kelp.ml">https://github.com/nojusr/kelp.ml</a></p>
{% endblock %}
