{% extends "base.html" %}
{% block links %}
	<a href="/">back</a>
{% endblock %}
{% block content %}
	<p>This is a private file hosting website. There are a few rules for users, but they are mostly common sense.</p>
	<ul>
		<li>Do not post illegal content, or questionably legal content. You know what this means.</li>
		<li>Don't upload massive files; my disk space is limited and I don't want this to become a tragedy of the commons.</li>
		<li>If you have any complaint, email the admin.</li>
	</ul>
{% endblock %}
